.add {
    background: #20c996;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    color: #fefefe;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    right: 12%;
    top: 90vh;
    text-align: center;
}

#logout-div {
    display: flex;
    align-items: center;
}

#logout-div img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#logout-div p {
    margin: 0 15px;
}

#addcomment {
    padding: 5px 20px;
    border-bottom: 2px solid #cdcdcd !important;
    width: 85%;
    outline: none;
    border-radius: 4px;
}

#send {
    width: 10%;
    cursor: pointer;
    border-radius: 4px;
}

.addComment {
    padding: 15px !important;
}

.nav-link {
    cursor: pointer;
}

.main-info {
    font-size: 19px;
    font-weight: 500;

}

.count span {
    color: #000;
    font-size: 30px;
}

#alert {
    width: 40%;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;

}

.parent-loader{
    position: fixed;
    z-index: 99999;
    background: #eee;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}


.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}